<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.berkeley.cs160.familiarfoods"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="FamiliarFoodsDatabase">
        <activity
            android:name="edu.berkeley.cs160.familiarfoods.HomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.berkeley.cs160.familiarfoods.AdventureMode"
            android:label="@string/title_activity_adventure_mode"
            android:parentActivityName="edu.berkeley.cs160.familiarfoods.HomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.berkeley.cs160.familiarfoods.MainActivity" />
        </activity>
        <activity
            android:name="edu.berkeley.cs160.familiarfoods.Filter"
            android:label="@string/title_activity_filter"
            android:parentActivityName="edu.berkeley.cs160.familiarfoods.HomeActivity" >
        </activity>
    </application>

</manifest>
